* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-image: url(img/back-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  font-size: 5rem;
  color: black;
}
.Data_container {
  display: grid;
  place-items: center;
  height: 50vh;
}
#players {
  position: relative;
  height: 50vh;
  width: 100vw;
}

#Warrior {
  position: absolute;
  background-image: url(img/dragon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 13vw 13vh;
  height: 15vh;
  width: 14vw;
  bottom: 15vh;
  right: 20vw;
}
#dragon {
  position: absolute;
  background-image: url(img/img-marco.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 23vh;
  width: 16vw;
  bottom: 15vh;
  right: 80vw;
}

#startbutton {
  width: 20vw;
  height: 10vh;
  padding: 1rem;
  margin-top: auto;
  font-size: 2rem;
  background-color: rgb(170, 222, 242, 0.4);
  border-radius: 1rem;
}
#startbutton:hover {
  background-color: rgba(19, 22, 23, 0.6);
  cursor: pointer;
  border: 2px solid gold;
}

.display-none {
  display: none;
}
.display-block {
  display: block;
}
#score {
  font-size: 2.5rem;
  box-shadow: 1px 2px 10px 4px black;
  margin-top: 1rem;
  padding: 5px 1rem;
  border-bottom: 2px solid goldenrod;
}
#gameover {
  font-size: 2.5rem;
  box-shadow: 1px 2px 10px 4px black;
  margin-top: 5rem;
  padding: 5px 1rem;
  color: white;
  background-image: linear-gradient(30deg, red, rgb(67, 28, 28));
  border-bottom: 2px solid goldenrod;
}

.applyAnimination {
  animation: anni-start 4s linear infinite;
}
.applyRotationAnimination {
  animation: rotation-start 2s linear infinite;
}

@keyframes anni-start {
  0% {
    left: 100vw;
  }
  25% {
    left: 75vw;
  }
  50% {
    left: 50vw;
  }
  75% {
    left: 25vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes rotation-start {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
